<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MPJBS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/MPJBS.styles.css" asp-append-version="true" />

    <!--Bold Reports Start-->
    <link href="https://cdn.boldreports.com/4.2.87/content/material/bold.reports.all.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/boldreports/jquery-1.10.2.min.js" asp-append-version="true"></script>
    <script src="~/boldreports/bold.reports.common.min.js" asp-append-version="true"></script>
    <!--Render the gauge item. Add this script only if your report contains the gauge report item. -->
    <script src="~/boldreports/ej2-base.min.js" asp-append-version="true"></script>
    <script src="~/boldreports/ej2-data.min.js" asp-append-version="true"></script>
    <script src="~/boldreports/ej2-pdf-export.min.js" asp-append-version="true"></script>
    <script src="~/boldreports/ej2-svg-base.min.js" asp-append-version="true"></script>
    <script src="~/boldreports/ej2-lineargauge.min.js" asp-append-version="true"></script>
    <script src="~/boldreports/ej2-circulargauge.min.js" asp-append-version="true"></script>
    <!--Render the map item. Add this script only if your report contains the map report item.-->
    <script src="~/boldreports/ej2-maps.min.js" asp-append-version="true"></script>
    <script src="~/boldreports/bold.reports.widgets.min.js" asp-append-version="true"></script>
    <!--Render the chart item. Add this script only if your report contains the chart report item.-->
    <script src="~/boldreports/ej.chart.min.js" asp-append-version="true"></script>
    <!-- Report Viewer component script-->
    <script src="~/boldreports/bold.report-viewer.min.js" asp-append-version="true"></script>
    <!--Bold Reports End-->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color : midnightblue ; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight:bold">MPJBS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity!.IsAuthenticated)
                        {
                            @await Component.InvokeAsync("Menu");
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

     <div class="row">
        <div class="text-center">
            @if (@TempData["Error"] != null)
            {
                <span class="text-center" style="font-size:medium;color:red;"><strong style="font:bold;">Error:</strong> @TempData["Error"]</span>
            }
            @if (@TempData["Success"] != null)
            {
                <span class="text-center" style="font-size:medium;color:green;"><strong style="font:bold;">Success:</strong> @TempData["Success"]</span>
            }

        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-6">&copy; 2024 - মোল্লাপাড়া যুবসংগঠন </div>
                <div class="col-6" style="text-align:right">Developed by <a id="myAnchor" href="http://sakib.runasp.net/" target="_blank">Md. Sakibur Rahman</a></div>
            </div>
        </div>
    </footer>

   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Bold Reports script manager -->
    <bold-script-manager></bold-script-manager>
</body>
</html>
