@model MPJBS.Models.WorkHistory

@{
    ViewData["Title"] = "Details";
    var images = ViewData["Images"] as List<MPJBS.Models.WorkImage>;
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentions)
        </dd>
    </dl>
    <div class="row" style="border: 1px solid white">
        @foreach (var i in images!)
        {
            if (i.ImagePath != null)
            {
                <div class="col-md-4">
                    <img style="border-radius: 2px;" class="img-fluid" src="~/WorkImages/@i.ImageName" alt="@i.ImageName" />
                </div>
            }
            else
            {
                <p> No image </p>
            }
        }
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}